:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --main-background-color: #f5f5f5;
  --second-text-color: #ffffff;
  --background-color-footer: #2f303a;
  --color-hover-focus: #2196f3;
  --btn-background-color: #f5f4fa;
  --btn-color-hover: #188ce8;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
  --logo-color: #000000;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.img {
  display: block;
}
/*------------header------------------*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.navigation,
.contacts {
  display: flex;
}
.list {
  list-style: none;
}
.logo {
  display: inline-block;
  padding: 24px 0 25px;
  margin-right: 93px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--color-hover-focus);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo--theme-light {
  color: var(--logo-color);
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link--current {
  color: var(--color-hover-focus);
}
.navigation__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-hover-focus);
}
.navigation__link:hover,
.navigation__link:focus,
.contacts__item:hover,
.contacts__item:focus {
  color: var(--color-hover-focus);
}

/*--------------contacts---*/

.contacts {
  margin-left: auto;
}
.contacts__item {
  display: flex;
  align-items: flex-end;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color);
}
.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: var(--color-hover-focus);
}
.contacts__list:not(:last-child) {
  margin-right: 30px;
}
.contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------hero-------------------------*/

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.png);
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: var(--background-color-footer);
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.btn {
  font-family: inherit;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.hero__btn {
  padding: 10px 32px;
  background-color: var(--color-hover-focus);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-color-hover);
}
/*--------------MODAL----------------------------*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--second-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  fill: var(--logo-color);
}
.modal__btn--close:hover .modal__icon,
.modal__btn--close:focus .modal__icon {
  fill: var(--color-hover-focus);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 2px;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form__field {
  padding: 0;
  position: relative;
}
.form__field:not(:last-child) {
  margin-bottom: 10px;
}
.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form__area {
  outline-offset: 0px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0;
}
.form__area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__area:focus,
.form__area:hover {
  outline: none;
  border: 1px solid var(--color-hover-focus);
}
.form__area:focus + .form__icon,
.form__area:hover + .form__icon {
  fill: var(--color-hover-focus);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  margin-left: 7px;
  letter-spacing: 0.03em;
}
.checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-hover-focus);
}
.checkbox__label {
  display: flex;
  align-items: center;
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--color-hover-focus);
  background-color: var(--color-hover-focus);
  background-image: url('../images/iconcheck.svg');
  background-size: contain;
  background-origin: border-box;
}
.btn__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  text-align: center;
}
/*---------------preferences--------------------------*/
.preferences {
  padding-bottom: 0;
}

.preferences__list {
  display: flex;
}
.preferences__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  fill: var(--main-text-color);
  height: 120px;
  background-color: var(--btn-background-color);
}
.preferences__item {
  width: calc((100%-90px) / 4);
}
.preferences__item:not(:last-child) {
  margin-right: 30px;
}
.preferences__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.preferences__description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*---------------------our-job--------------*/
.our-job__title,
.our-comand__title,
.our-clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.our-job__list {
  display: flex;
  position: relative;
}
.our-job__list:not(:last-child) {
  margin-right: 30px;
}
.our-job__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}

/*--------------------our-comand--------------------*/

.our-comand {
  background-color: var(--btn-background-color);
}
.our-comand__list {
  display: flex;
}
.our-comand__employee {
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-comand__employee:not(:last-child) {
  margin-right: 30px;
}
.our-comand__name {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
}
.our-comand__profession {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.social-network {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: var(--second-text-color);
}
.social-network__link:hover,
.social-network__link:focus {
  background-color: var(--color-hover-focus);
}

/*-------------------clients-----------------------*/
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients__list {
  display: flex;
}
.our-clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover .our-clients__icon,
.our-clients__link:focus .our-clients__icon {
  fill: var(--color-hover-focus);
}
.our-clients__link:hover,
.our-clients__link:focus {
  border: 1px solid var(--color-hover-focus);
}
.our-clients__item:not(:last-child) {
  margin-right: 30px;
}

/*---------------------------FOOTER--------------*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}
.page-footer__container {
  display: flex;
  align-items: baseline;
}
.page-footer__logo {
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--second-text-color);
}
.logo--theme-dark {
  color: var(--color-hover-focus);
}
.page-footer__item {
  margin-bottom: 9px;
}
.page-footer__address,
.page-footer__contacts {
  display: block;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
}
.page-footer__contacts--last {
  margin-bottom: 0;
}
.page-footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contacts:focus,
.page-footer__contacts:hover {
  color: var(--color-hover-focus);
}
.page-footer__address {
  color: var(--second-text-color);
}
.social-network__footer{
  margin-left: 70px;
}
.social-network__title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}
.social-network__list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.social-network__link--background {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-network__item:not(:last-child) {
  margin-right: 10px;
}
.sign-up {
  margin-left: auto;
}
.sign-up__area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up__input {
  display: flex;
}
.sign-up__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--background-color-footer);
  outline: none;
}
.sign-up__mail::placeholder{
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.sign-up__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}
.sign-up__icon {
  fill: var(--second-text-color);
  margin-left: 10px;
}

/*-----------------PORTFOLIO----------*/

.our-product__button{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button {
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  letter-spacing: 0.03em;
  font-size: 16px;
  background-color: var(--btn-background-color);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--last {
  margin-right: 0;
}
.button:hover,
.button:focus {
  background-color: var(--color-hover-focus);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*----------------our-product-------------*/

.our-product__field {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
}
.our-product__link {
  display: block;
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-product__link:hover,
.our-product__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.our-product__card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.our-product__card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.our-product__item {
  background-color: var(--second-text-color);
}
.our-product__description {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.our-product__label {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.our-product__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
/*  -------------- OVERLAY-------------*/
.our-product__overlay {
  position: relative;
  overflow: hidden;
}
.our-product__overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
}
.our-product__overlay-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-product__link:hover .our-product__overlay-card,
.our-product__link:focus .our-product__overlay-card {
  transform: translateY(0);
}
