@import './utils/visually-hidden';
@import './utils/variables';

@import './base/common';
@import './base/container';


@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/btn';
@import './components/backdrop';
@import './components/form-modal';
@import './components/checkbox';
@import './components/social-network';
@import './components/overlay';

@import './layout/header';
@import './layout/hero';
@import './layout/clients';
@import './layout/footer';
@import './layout/product';
@import './layout/preferences';
@import './layout/job';
@import './layout/comand';
@import './layout/modal';