.our-comand {
    background-color: var(--btn-background-color);
}

.our-comand__list {
    display: flex;
}

.our-comand__employee {
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.our-comand__name {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
}

.our-comand__profession {
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}