.checkbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox__agreement {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
    margin-left: 7px;
    letter-spacing: 0.03em;
}

.checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-hover-focus);
}

.checkbox__label {
    display: flex;
    align-items: center;
}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
}

.checkbox__input:checked+.checkbox__icon {
    border-color: var(--color-hover-focus);
    background-color: var(--color-hover-focus);
    background-image: url('../images/iconcheck.svg');
    background-size: contain;
    background-origin: border-box;
}