.our-product__overlay {
    position: relative;
    overflow: hidden;
}

.our-product__overlay-text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--second-text-color);
}

.our-product__overlay-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-product__link:hover .our-product__overlay-card,
.our-product__link:focus .our-product__overlay-card {
    transform: translateY(0);
}