body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.img {
    display: block;
}
.list {
    list-style: none;
}